@import "variables";

* {
  margin: 0;
  padding: 0;
}
.max-width-container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 20px;
}
body {
  background-color: $background-mint;

  nav {
    padding: 30px 120px 0;
    .nav-bar-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        font-family: "Modak", cursive;
        font-size: 35px;
        color: $white;
        cursor: pointer;
      }
      .nav-menu ul {
        display: flex;
        flex-direction: row;
        gap: 100px;
        color: $white;
      }
      .nav-menu li {
        list-style: none;
        font-family: "Nunito", sans-serif;
      }
      .nav-menu li:hover {
        color: lightsteelblue;
        cursor: pointer;
      }
      .locat-products-nav-bar {
        font-family: "Nunito", sans-serif;
        color: $white;
        cursor: pointer;
        .fa-location-dot {
          color: $dark-yellow;
        }
      }
    }
  }
  header {
    display: flex;
    padding: 120px 120px 0;
    .header-left-side {
      width: 50%;
      .header-title {
        font-family: "Modak", cursive;
        color: $white;
        font-size: 100px;
        font-weight: 100;
        width: 500px;
        line-height: 80px;
      }
      .header-subtitle {
        padding: 50px 100px 0;
        color: $white;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
      }
      .header-button-snacking-now {
        @include button;
        border: 0;
        background-color: $dark-yellow;
        color: $light-yellow-black;
        font-weight: 800;
        font-size: 20px;
      }
      .header-button-shop-in-ebay {
        @include button;
        background: transparent;
        border: 2px solid $dark-yellow;
        color: $dark-yellow;
        font-weight: 700;
        font-size: 19px;
        margin-left: 30px;
        opacity: 0.8;
      }
    }
    .header-right-side {
      width: 50%;
      .header-dark-mint-circle {
        position: relative;
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background-color: #00957b;
      }
      .header-dark-yellow-circle {
        position: absolute;
        top: 275px;
        right: 245px;
        height: 350px;
        width: 350px;
        border-radius: 50%;
        background-color: $dark-yellow;
        border: 5px solid $medium-yellow;
      }
      .header-chips-packet-image {
        position: absolute;
        top: 220px;
        right: 275px;
        transform: rotate(15deg);
        height: 430px;
        width: 300px;
        object-fit: cover;
      }
    }
  }
  section {
    margin-top: 50px;
    h3 {
      text-align: center;
      font-family: "Nunito", sans-serif;
      color: $white;
      font-weight: 500;
    }
    span {
      .fa-caret-down {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $dark-yellow;
      }
    }
    h1 {
      margin-top: 100px;
      text-align: center;
      font-family: "Modak", cursive;
      color: $white;
      font-size: 60px;
      font-weight: 300;
    }
  }
}
