@media only screen and (max-width: 768px) {
  .max-width-container {
    padding: 0;
  }
  /* -----------------------------------------------------------nav-------------------------------------- */
  .fa-bars {
    display: block;
    font-size: 30px;
    color: var(--blue);
  }
  .navbar-ul {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  /* -------------------------------------------------------hero-header---------------------------------------------- */
  .hero-header {
    padding: 150px 117px 0px;
  }
  .hero-header-title {
    font-size: 38px;
  }
  .lines-wrapper {
    left: 201px;
    bottom: 35px;
  }

  /* -------------------------------------------------images-hero-section-------------------------------------------- */
  .hero-photo-section {
    margin-left: 0px;
  }
  .hero-photo-section-image-no-1,
  .hero-photo-section-image-no-2,
  .hero-photo-section-image-no-3,
  .hero-photo-section-image-no-4 {
    height: 300px;
    width: 166px;
  }

  /* ------------------------------------------------Digital-marketing-section-----------------------------------------*/

  .Digital-marketing-section {
    margin-top: 0px;
    padding-left: 15px;
  }
  .Digital-marketing-Branding-text {
    margin: 0px;
    font-size: 0px;
  }

  .Digital-marketing-Social-Ads-text {
    margin: 0px;
    font-size: 0px;
  }
  .Digital-marketing-subtitle-paragraph {
    font-size: 38px;
  }
  .Digital-marketing-subtitle-Digital-marketing-text {
    font-size: 38px;
  }
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  .Digital-marketing-containers-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 0 20px;
  }

  .earning-traffic-container {
    flex-direction: column;
    margin-top: 50px;
  }

  .Earning-traffic-sub-title {
    width: inherit;
  }
  .Designs-that-dazzels-sub-title {
    width: inherit;
  }
  .Designs-that-dazzels-container {
    width: inherit;
    flex-direction: column;
    margin-top: 50px;
  }
  .Expand-your-social-reach-sub-title {
    width: auto;
  }
  .Expand-your-social-reach-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  /* ---------------------------------------sponsership-logo-section----------------------------------- */
  .seven-hundred-plus-text {
    padding-left: 0px;
    font-size: 200px;
  }
  .Brands-already-onboard-text {
    padding-left: 0px;
    font-size: 45px;
  }
  .sponsership-logo-and-more {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    border-radius: 40px;
  }
  .sponsership-logo {
    margin-top: 50px;
    font-size: 50px;
    gap: 98px;
  }

  /*-------------------------------------------------how-to-growth-your-bussiness-section------------------------------------------*/
  .growth-bussiness-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .How-growth-business-container {
    padding: 0px;
    justify-content: center;
    padding: 30px 20px;
    margin: 0px;
  }
  .How-growth-business-container-title {
    font-size: 25px;
    width: inherit;
  }
  .How-growth-business-container-infromation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0px; */
    padding-left: 40px;
  }
  .trofy-container-title,
  .hand-like-done-container-title {
    font-size: 25px;
  }
  /* .trofy-container-para,
  .hand-like-done-container-para {
    font-size: 12px;
  } */
  .metting-room-image {
    height: 425px;
    width: 325px;
    object-fit: cover;
    border-radius: 25px;
  }
  .check-icon-text-no-1 {
    font-size: 15px;
    line-height: 21px;

    color: var(--black);
  }
  .check-icon-text-no-2 {
    font-size: 15px;
    line-height: 21px;

    color: var(--black);
  }
  .check-icon-text-no-3 {
    font-size: 15px;
    line-height: 21px;

    color: var(--black);
  }
  .check-icon-text-no-4 {
    font-size: 15px;
    line-height: 21px;
    width: 310px;
    color: var(--black);
  }
  .Send-Me-a-Proposal-📄-button {
    margin-top: 40px;
  }
  .How-growth-business-container-trofy-and-like-container {
    display: flex;
    padding: 0 20px;
    gap: 30px;
  }
  .trofy-container-para {
    width: auto;
    font-size: 18px;
    flex: 1;
  }
  .hand-like-done-container-para {
    width: auto;

    font-size: 18px;
  }

  /* ---------------------------------------by-the-number-section-no-3-------------------------------------------------------------------- */
  .by-the-number-section-no-3-title {
    padding-left: 0px;
    flex: 1;
    width: 0px;
    font-size: 31px;
  }
  .by-the-number-section-no-1-para {
    font-size: 15px;
    width: auto;
  }
  .by-the-number-section-no-1 {
    flex: 1;
    padding-left: 0px;
  }
  .graph-container-wrapper {
    flex: 1;
  }
  .by-the-number-section-no-2-para {
    font-size: 15px;
    width: auto;
  }
  .by-the-number-section-no-3-introduction-para {
    margin: 0px;
    flex: 1;
  }
  .by-the-number-section-no-3-introduction {
    padding-left: 0px;
  }
  .by-the-number-section-no-3-send-me-proposal-button {
    margin: 20px 0;
  }
  .ninety-percnt-text {
    font-size: 150px;
    margin: 0px;
  }
  .by-the-number-text {
    font-size: 30px;
    margin: 0px;
  }
  .by-the-number-section-no-2 {
    padding: 0px;
  }
  .first-graph-container {
    width: 60px;
    height: 160px;
  }
  .second-graph-container {
    width: 60px;
    height: 190px;
  }
  .third-graph-container {
    width: 60px;
    height: 75px;
    top: 185px;
  }
  .fourth-graph-container {
    width: 60px;
    height: 190px;
  }
  .fifth-graph-container {
    width: 60px;
    height: 200px;
    top: 60px;
  }
  .sixth-graph-container {
    width: 60px;
    height: 180px;
  }
  .seventh-graph-container {
    width: 60px;
    height: 160px;
    top: 100px;
  }
  .eigthth-graph-container {
    width: 60px;
    height: 190px;
  }
  /* ------------------------------------------------footer---------------------------------------------- */
  .footer-ul-li-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    gap: 20px;
  }
  .footer-ul-li-wrapper ul {
    display: none;
  }
  /* .footer-ul-li-wrapper span {
    padding-bottom: 40px;
  } */
  /* .digital-marketing-footer li {
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .Website-devlopment-footer li {
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .Branding-footer li {
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .Socmed-marketing-footer li {
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .Creative-footer li {
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  } */
  .navmenu-footer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .footer-hr {
    margin-top: 30px;
    width: 600px;
    background-color: var(--dark-grey);
    height: 1px;
    border: 0;
  }
  .footer-icon {
    margin: 0px;
  }
}

/* -----------------------------------------phone------------------------------------------------------ */
@media only screen and (max-width: 420px) {
  /* ----------------------------------------------nav--------------------------------------- */
  .logo p {
    display: none;
  }
  .nav-button-Get-in-touch {
    padding: 8px;
    font-size: 10px;
    font-weight: 600;
    /* margin-top: 10px; */
    border-radius: 5px;
  }
  .hi-1 {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .fa-snowflake-o {
    font-size: 25px;
  }
  .fa-bars {
    font-size: 20px;
  }
  /* -----------------------------------------hero-header------------------------------ */
  .hero-header-title {
    font-size: 17px;
  }
  .hero-header-Get-in-touch-button {
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
  }
  .hi {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .hero-header {
    padding: 100px 40px 50px;
  }
  .lines-wrapper {
    display: flex;
    position: relative;
    left: 290px;
    bottom: 30px;
    width: 0px;
  }

  /* --------------------------------------------Digital-marketing-section------------------------ */

  .Digital-marketing-containers-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Earning-traffic-sub-title,
  .Designs-that-dazzels-sub-title,
  .Expand-your-social-reach-sub-title {
    font-size: 18px;
    line-height: 18px;
  }
  .Earning-traffic-title,
  .Designs-that-dazzels-title,
  .Expand-your-social-reach-title {
    font-size: 22px;
  }
  .Digital-marketing-containers-wrapper a {
    font-size: 18px;
  }
  .Digital-marketing-subtitle-paragraph {
    font-size: 26px;
  }
  .Digital-marketing-subtitle-Digital-marketing-text {
    font-size: 26px;
  }
  .hero-photo-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 709px;
    gap: 0px;
  }
  .hero-photo-section-image-no-1,
  .hero-photo-section-image-no-2,
  .hero-photo-section-image-no-3,
  .hero-photo-section-image-no-4 {
    margin: 0;
    width: 166px;
  }
  .Send-Me-a-Proposal-📄-button {
    height: 40px;
    width: 220px;
    font-size: 17px;
    margin-top: 0px;
  }
  /* --------------------------------------------------sponsership-logo-and-more------------------------------------ */

  .seven-hundred-plus-text {
    font-size: 90px;
  }
  .Brands-already-onboard-text {
    font-size: 22px;
    font-weight: 500;
  }
  .sponsership-logo {
    font-size: 28px;
    margin-top: 50px;
    gap: 37px;
  }
  /* -------------------------------------how-to-growth-your-bussiness-section--------------------------------- */
  .growth-bussiness-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .metting-room-image {
    margin: 50px 0px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
  }

  .How-growth-business-container-trofy-and-like-container {
    display: block;
  }
  .How-growth-business-container {
    display: flex;
    flex-direction: column;
  }
  .How-growth-business-container-infromation {
    padding-left: 0px;
  }
  .by-the-number-section-no-3 {
    flex-direction: column;
    align-items: center;
  }
  .How-growth-business-container-title {
    font-size: 20px;
    margin: 0;
  }
  .check-icon-text-no-1,
  .check-icon-text-no-2,
  .check-icon-text-no-3,
  .check-icon-text-no-4 {
    font-size: 15px;
    font-weight: 500;
  }

  .trofy-container-title,
  .hand-like-done-container-title {
    font-size: 20px;
  }
  .trofy-container-para,
  .hand-like-done-container-para {
    font-size: 12px;
  }
  .trofy,
  .hand-like-done {
    height: 55px;
    width: 50px;
  }
  /* -----------------------------------------------graph-section-------------------------------------- */
  .By-the-numbers-section {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .by-the-number-section-no-3-title {
    width: inherit;
    font-size: 22px;
    line-height: 27px;
  }
  .by-the-number-section-no-3-introduction {
    padding: 0px;
  }
  .by-the-number-section-no-3-introduction-para {
    margin-left: 0px;
    font-size: 12px;
  }
  .by-the-number-section-no-3-send-me-proposal-button {
    /* height: 35px; */
    /* width: 140px; */
    font-size: 15px;
    margin: 0px;
  }
  .by-the-number-section-no-1 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  /* -------------------------------footer------------------------ */
  .logo-text-footer {
    margin: 0px;
    font-size: 22px;
  }
  .footer-ul-li-wrapper {
    margin: 0px;
  }
  .footer-hr {
    margin-top: 10px;
    width: 375px;
    background-color: var(--dark-grey);
    height: 1px;
    border: 0;
  }
  .digital-marketing-footer,
  .Website-devlopment-footer,
  .Branding-footer,
  .Socmed-marketing-footer,
  .Creative-footer {
    font-size: 14px;
  }
  .copy-right-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copy-right-text {
    margin: 0;
    font-size: 10px;
    line-height: 20px;
  }
  .footer-ul-li-wrapper {
    display: flex;
    margin: 0px 25px;
    flex-direction: column;
    gap: 10px;
    height: 90px;
  }
  .copy-right-section ul {
    margin: 0px;
  }
  .copy-right-section li {
    font-size: 10px;
  }
  .footer-icon {
    margin: 0px;
    font-size: 16px;
  }
  .footer-icon i {
    margin-right: 10px;
    color: var(--dark-grey);
    margin-top: 10px;
  }
}
