@media only screen and (max-width: 768px) {
  /* -----------------------------------------------------------nav-------------------------------------- */
  nav {
    width: 100%;
    background-color: var(--white);
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .navbar ul {
    /* visibility: hidden; */
    display: none;
  }
  .fa-bars {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--blue);
  }
  .nav-button-Get-in-touch {
  }
  /* -------------------------------------------------------hero-header---------------------------------------------- */
  .hero-header {
    padding: 110px;
  }
  .hero-header-title {
    font-size: 39px;
  }
  .lines-wrapper {
    left: 201px;
    bottom: 35px;
  }

  /* -------------------------------------------------images-hero-section-------------------------------------------- */
  .hero-photo-section {
    margin-left: 0px;
  }
  .image-wrappar-1-hero:hover {
    filter: grayscale(100%);
  }

  .image-wrappar-1-hero:after {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, #ffffff 53%);
    margin-top: -150px;
    height: 200px;
    width: 100%;
    content: "";
  }

  .hero-photo-section-image-no-1 {
    height: 300px;
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
    background-color: linear-gradient(red, yellow);
  }
  .hero-photo-section-image-no-1:hover {
    animation-name: image1;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  .image-wrappar-2-hero:after {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, #ffffff 53%);
    margin-top: -150px;
    height: 200px;
    width: 100%;
    content: "";
  }
  .image-wrappar-2-hero:hover {
    filter: grayscale(100%);
  }
  .hero-photo-section-image-no-2 {
    height: 300px;
    width: 150px;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 20px;
    object-fit: cover;
    cursor: pointer;
  }
  .hero-photo-section-image-no-2:hover {
    animation-name: image2;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  .image-wrappar-3-hero:after {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, #ffffff 53%);
    margin-top: -150px;
    height: 200px;
    width: 100%;
    content: "";
  }
  .image-wrappar-3-hero:hover {
    filter: grayscale(100%);
  }
  .hero-photo-section-image-no-3 {
    height: 300px;
    width: 150px;
    border-radius: 20px;
    margin-left: 20px;
    object-fit: cover;
    cursor: pointer;
  }
  .hero-photo-section-image-no-3:hover {
    animation-name: image3;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  .image-wrappar-4-hero:after {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, #ffffff 53%);
    margin-top: -150px;
    height: 200px;
    width: 100%;
    content: "";
  }
  .image-wrappar-4-hero:hover {
    filter: grayscale(100%);
  }

  .hero-photo-section-image-no-4 {
    height: 300px;
    width: 150px;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 20px;
    object-fit: cover;
    cursor: pointer;
  }
  .hero-photo-section-image-no-4:hover {
    animation-name: image4;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  /* ------------------------------------------------Digital-marketing-section-----------------------------------------*/

  .Digital-marketing-section {
    margin-top: 0px;
    padding-left: 15px;
  }
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  .Digital-marketing-containers-wrapper {
    display: flex;
    flex-direction: row;
  }

  .earning-traffic-container {
    flex-direction: column;
    margin-top: 50px;
  }

  .Earning-traffic-sub-title {
    font-size: 15px;
    color: var(--dark-grey);
    width: 198px;
    line-height: 25px;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
  .Designs-that-dazzels-sub-title {
    font-size: 15px;
    color: var(--dark-grey);
    width: 198px;
    line-height: 25px;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
  .Designs-that-dazzels-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .Expand-your-social-reach-sub-title {
    font-size: 15px;
    color: var(--dark-grey);
    width: 198px;
    line-height: 25px;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
  .Expand-your-social-reach-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  /* ---------------------------------------sponsership-logo-section----------------------------------- */
  .seven-hundred-plus-text {
    padding-left: 0px;
  }
  .Brands-already-onboard-text {
    padding-left: 0px;
  }
  .sponsership-logo-and-more {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    margin-top: 76px;
    border-radius: 40px;
  }
  .sponsership-logo {
    gap: 100px;
  }

  /* how-to-growth-your-bussiness-section */
  .How-growth-business-container {
    display: flex;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 75px;
  }
  .metting-room-image {
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
  }
  .How-growth-business-container-infromation {
    padding-left: 50px;
  }
  .check-icon-text-no-1 {
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .check-icon-text-no-2 {
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .check-icon-text-no-3 {
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .check-icon-text-no-4 {
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .Send-Me-a-Proposal-📄-button {
    margin-top: 30px;
  }
  .How-growth-business-container-trofy-and-like-container {
    padding-left: 0px;
  }
  .trofy-container-para {
    width: 270px;
  }
  .hand-like-done-container-para {
    width: 310px;
  }

  .By-the-numbers-section {
    display: none;
  }
  /* .by-the-number-section-no-3-------------------------------------------------------------------- */
  .by-the-number-section-no-3-title {
    padding-left: 0px;
    flex: 1;
    width: 0px;
    font-size: 36px;
  }
  .by-the-number-section-no-3-introduction-para {
    width: 300px;
  }
  .by-the-number-section-no-3-introduction {
    padding-left: 0px;
  }
  .by-the-number-section-no-3-send-me-proposal-button {
    margin-top: 20px;
  }
  /* ------------------------------------------------footer---------------------------------------------- */
  .digital-marketing-footer ul {
    visibility: hidden;
  }
  .Website-devlopment-footer ul {
    visibility: hidden;
  }
  .Branding-footer ul {
    visibility: hidden;
  }
  .Socmed-marketing-footer ul {
    visibility: hidden;
  }
  .Creative-footer ul {
    visibility: hidden;
  }
  .navmenu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-ul-li-wrapper {
    margin-top: 30px;
    margin-left: 110px;
    display: block;
  }
  .digital-marketing-footer,
  .Website-devlopment-footer,
  .Socmed-marketing-footer,
  .Branding-footer,
  .Creative-footer {
    height: 0px;
    margin: 0;
  }
}
