:root{
    --white:#ffffff;
    --light-white:#f0f0f0;
    --off-white:#f9f9f9;
    --blue:#5134ff;
    --dark-sky-blue:#5134ff;
    --dark-grey:#a1a1a1;
    --gray:#6a6a6a;
    --white-gray:#cbcbcb;
    --light-grey:#dcdcdc;
    --gray:#c7c7c7;
    --very-light-grey:#f3f3f3;
    --black:#222222;
    --orange:#ff782f;
    --very-light-pink:#f5dbcc;
    --light-cyan:#c3ebed;
}