@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes arrow-round {
  0% {
    transform: scale(var(--s, 1)) translate(12px, -6px) translate(4px) rotate(30deg);
  }
  100% {
    transform: scale(var(--s, 1)) translate(12px, -6px) translate(-4px) rotate(30deg);
  }
}
@keyframes arrow-round-2 {
  0% {
    transform: scale(var(--s, 1)) translate(12px, -6px) translate(4px) rotate(-120deg);
  }
  100% {
    transform: scale(var(--s, 1)) translate(12px, -6px) translate(-4px) rotate(-120deg);
  }
}
@keyframes chese-1 {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) scaleX(-1);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0) scaleX(-1);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scaleX(-1);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0) scaleX(-1);
  }
}
@keyframes chese-2 {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
}

.max-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #0cae96;
  overflow-x: hidden;
}
body nav {
  padding: 30px 120px 0;
}
body nav .nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav .nav-bar-wrapper .logo {
  font-family: "Modak", cursive;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}
body nav .nav-bar-wrapper .product-text-bottom-line {
  position: absolute;
  height: 60px;
  top: 77px;
  /* width: 100px; */
  transform: rotate(280deg);
}
body nav .nav-bar-wrapper .nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 100px;
  color: #ffffff;
}
body nav .nav-bar-wrapper .nav-menu li {
  list-style: none;
  font-family: "Nunito", sans-serif;
}
body nav .nav-bar-wrapper .nav-menu li:hover {
  color: lightsteelblue;
  cursor: pointer;
}
body nav .nav-bar-wrapper .locat-products-nav-bar {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
}
body nav .nav-bar-wrapper .locat-products-nav-bar .fa-location-dot {
  color: #fdc92e;
}
body header {
  display: flex;
  padding: 120px 120px 0;
}
body header .header-left-side {
  position: relative;
  flex: 1;
  height: 500px;
}
body header .header-left-side .header-title {
  position: relative;
  font-family: "Modak", cursive;
  color: #ffffff;
  font-size: 100px;
  font-weight: 100;
  width: 500px;
  line-height: 80px;
  text-shadow: -5px 5px 0 #01816d, 5px 5px 0 #01816d, 5px -5px 0 #01816d, -5px -5px 0 #01816d;
}
body header .header-left-side .header-swirl-subtitle {
  position: absolute;
  top: 52%;
  height: 80px;
  animation: rotate-center 1s linear infinite;
}
body header .header-left-side .header-subtitle {
  position: relative;
  padding: 50px 100px 0;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  opacity: 0.8;
}
body header .header-left-side .header-button-snacking-now {
  position: relative;
  font-family: "Nunito", sans-serif;
  padding: 11px 20px;
  border-radius: 50px;
  margin-top: 60px;
  border: 0;
  background-color: #fdc92e;
  color: #815f00;
  font-weight: 800;
  font-size: 20px;
  transition: 0.9s ease-in-out;
}
body header .header-left-side .header-button-snacking-now:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fdc92e;
  color: #fdc92e;
  font-weight: 800;
  font-size: 20px;
  opacity: 0.8;
  padding: 8px 19px;
  transition: 0.9s;
}
body header .header-left-side .header-button-shop-in-ebay {
  position: relative;
  font-family: "Nunito", sans-serif;
  padding: 11px 20px;
  border-radius: 50px;
  margin-top: 60px;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #fdc92e;
  color: #fdc92e;
  font-weight: 700;
  font-size: 19px;
  margin-left: 30px;
  opacity: 0.8;
  transition: 0.9s ease-in-out;
}
body header .header-left-side .header-button-shop-in-ebay:hover {
  cursor: pointer;
  border: 0;
  background-color: #fdc92e;
  color: #815f00;
  font-weight: 700;
  font-size: 19px;
  opacity: 1;
  padding: 11px 31px;
  transition: 0.9s;
}
body header .header-right-side {
  position: relative;
  height: 500px;
  flex: 1;
}
body header .header-right-side .header-dark-mint-circle {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: #00957b;
}
body header .header-right-side .header-dark-yellow-circle {
  position: absolute;
  top: 80px;
  left: 68px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #fdc92e;
  border: 5px solid #d1bb30;
}
body header .header-right-side .header-chips-packet-image {
  position: absolute;
  top: 25px;
  left: 100px;
  transform: rotate(12deg);
  height: 430px;
  width: 300px;
  object-fit: cover;
}
body header .header-right-side .wheel-header {
  animation: rotate-center 5s linear infinite;
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 500px;
  right: 5%;
}
body header .header-right-side .wheel-header .mint-leaf-header {
  position: relative;
  height: 150px;
  width: 100px;
  top: 30%;
  right: 20px;
  transform: rotate(-150deg);
  animation: rotate-center 5s linear infinite;
}
body header .header-right-side .wheel-header .patato-chips-images {
  position: absolute;
  top: 30px;
  left: 10%;
  height: 50px;
  animation: rotate-center 5s linear infinite;
}
body header .header-right-side .wheel-header .tomato-header-png {
  height: 100px;
  width: 100px;
  top: 0;
  right: 90px;
  position: absolute;
  animation: rotate-center 5s linear infinite;
}
body header .header-right-side .wheel-header .tomato-slice {
  position: absolute;
  height: 75px;
  width: 75px;
  bottom: 25px;
  left: 80px;
  transform: rotate(75deg);
  animation: rotate-center 5s linear infinite;
}
body header .header-right-side .wheel-header .three-patato-chips-header {
  position: absolute;
  top: 200px;
  left: 85%;
  height: 70px;
  animation: rotate-center 5s linear infinite;
}
body header .header-right-side .wheel-header .patato-chips-images-2 {
  position: absolute;
  bottom: 30px;
  right: 75px;
  height: 55px;
  animation: rotate-center 5s linear infinite;
}
body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
body section h3 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-weight: 500;
}
body section .arrow-down {
  color: #fdc92e;
  height: 80px;
  cursor: pointer;
}
body section .explore-more-section-wrapper {
  background-color: #00957b;
  border-radius: 120px 120px 0 0;
  padding-bottom: 200px;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper {
  position: relative;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper h1 {
  padding-top: 100px;
  text-align: center;
  font-family: "Modak", cursive;
  color: #ffffff;
  font-size: 50px;
  font-weight: 200;
  line-height: 65px;
  text-shadow: -5px 5px 0 #01816d, 5px 5px 0 #01816d, 5px -5px 0 #01816d, -5px -5px 0 #01816d;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper .cheese-image {
  position: absolute;
  height: 200px;
  top: 150px;
  left: 100px;
  transform: scaleX(-1);
  animation: chese-1 2s infinite alternate;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper .arrow-round {
  position: absolute;
  top: 230px;
  left: 265px;
  height: 100px;
  transform: rotate(110deg);
  animation: arrow-round 0.5s infinite alternate;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper .discover-your-fovorite-flavor-section-subtitle {
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Nunito", sans-serif;
  margin-top: 40px;
  font-size: 17px;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper .arrow-round-2 {
  position: absolute;
  top: 280px;
  right: 280px;
  height: 100px;
  animation: arrow-round-2 0.5s infinite alternate;
}
body section .explore-more-section-wrapper .discover-your-fovorite-flavor-section-wrapper .cheese-image-2 {
  position: absolute;
  height: 200px;
  top: 100px;
  right: 50px;
  animation: chese-2 2s infinite alternate;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01816d;
  border-radius: 80px 80px 0 0;
  margin: 125px 125px 0;
  gap: 50px;
  height: 300px;
  padding-left: 25px;
  padding-right: 25px;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-image-1 {
  height: 350px;
  width: 260px;
  object-fit: cover;
  position: relative;
  bottom: 25px;
  transition: transform 0.2s;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-image-1:hover {
  transform: scale(1.2);
  cursor: pointer;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-after-yellow-circle {
  height: 300px;
  width: 300px;
  background-color: #fdc92e;
  border: 5px solid #d1bb30;
  border-radius: 50%;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-after-yellow-circle .section-image-2 {
  position: relative;
  left: 0px;
  bottom: 75px;
  height: 400px;
  width: 290px;
  transition: transform 0.2s;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-after-yellow-circle .section-image-2:hover {
  transform: scale(1.2);
  cursor: pointer;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-image-3 {
  height: 350px;
  width: 260px;
  object-fit: cover;
  position: relative;
  bottom: 25px;
  transition: transform 0.2s;
}
body section .explore-more-section-wrapper .lays-chips-packets-images-wrapper .section-image-3:hover {
  transform: scale(1.2);
  cursor: pointer;
}
body section .explore-more-section-wrapper .builing-simple-food-section {
  position: relative;
  margin: 150px 0 60px;
}
body section .explore-more-section-wrapper .builing-simple-food-section .meat-image {
  position: absolute;
  height: 150px;
  left: 19%;
  bottom: 87%;
  transform: rotate(-30deg);
}
body section .explore-more-section-wrapper .builing-simple-food-section .builing-simple-food-section-mint-leaf {
  position: absolute;
  height: 115px;
  right: 22%;
  bottom: 89%;
  transform: rotate(-55deg);
}
body section .explore-more-section-wrapper .builing-simple-food-section .builing-simple-food-section-title {
  position: relative;
  text-align: center;
  font-family: "Modak", cursive;
  font-weight: 200;
  color: #ffffff;
  font-size: 50px;
  line-height: 55px;
  text-shadow: -5px 5px 0 #01816d, 5px 5px 0 #01816d, 5px -5px 0 #01816d, -5px -5px 0 #01816d;
}
body section .explore-more-section-wrapper .builing-simple-food-section .half-circle-left-side {
  position: absolute;
  height: 250px;
  text-shadow: 50px 50px #01816d;
  left: 45px;
  top: 30%;
}
body section .explore-more-section-wrapper .builing-simple-food-section .arrow-left {
  position: absolute;
  height: 80px;
  left: 175px;
  top: 43%;
  color: #007c69;
  cursor: pointer;
}
body section .explore-more-section-wrapper .builing-simple-food-section .arrow-left:hover {
  background-color: aqua;
}
body section .explore-more-section-wrapper .builing-simple-food-section .half-circle-right-side {
  position: absolute;
  height: 250px;
  right: 45px;
  top: 30%;
  transform: scaleX(-1);
}
body section .explore-more-section-wrapper .builing-simple-food-section .arrow-right {
  position: absolute;
  height: 80px;
  right: 175px;
  top: 43%;
  cursor: pointer;
}
body section .explore-more-section-wrapper .builing-simple-food-section .single-round-arrow-1 {
  position: absolute;
  height: 100px;
  left: 245px;
  bottom: 38%;
  transform: rotate(130deg);
}
body section .explore-more-section-wrapper .builing-simple-food-section .builing-simple-food-section-subtitle {
  margin: 40px 0 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  opacity: 0.8;
  line-height: 22px;
}
body section .explore-more-section-wrapper .builing-simple-food-section .single-round-arrow-2 {
  position: absolute;
  height: 100px;
  right: 245px;
  bottom: 38%;
  transform: rotate(-50deg);
}
body section .explore-more-section-wrapper .builing-simple-food-section .burger-image {
  position: absolute;
  height: 150px;
  left: 25%;
  top: 50%;
  transform: rotate(-35deg);
}
body section .explore-more-section-wrapper .builing-simple-food-section .meat-image-2 {
  position: absolute;
  height: 150px;
  right: 28%;
  top: 0px;
  transform: scaleX(-1) rotate(-120deg);
}
body section .explore-more-section-wrapper .builing-simple-food-section .builing-simple-food-section-patato-chips-image {
  position: absolute;
  height: 55px;
  top: 120px;
  left: 29%;
}
body section .explore-more-section-wrapper .builing-simple-food-section .explor-more-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body section .explore-more-section-wrapper .builing-simple-food-section .explor-more-button-wrapper .explor-more-button {
  position: relative;
  border: 0;
  background-color: #fdc92e;
  color: #815f00;
  font-weight: 800;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  padding: 11px 20px;
  border-radius: 50px;
  margin-top: 60px;
}
body section .explore-more-section-wrapper .builing-simple-food-section .explor-more-button-wrapper .explor-more-button:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fdc92e;
  color: #fdc92e;
  font-weight: 800;
  font-size: 20px;
  opacity: 0.8;
  padding: 9px 18px;
}
body section .explore-more-section-wrapper .arrow-down-after-explor-more-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 15px;
}
body section .explore-more-section-wrapper .arrow-down-after-explor-more-button-wrapper .arrow-down-after-explor-more-button-1 {
  height: 30px;
}
body section .explore-more-section-wrapper .arrow-down-after-explor-more-button-wrapper .arrow-down-after-explor-more-button-2 {
  height: 30px;
  transform: scale(1.2);
}
body section .explore-more-section-wrapper .arrow-down-after-explor-more-button-wrapper .arrow-down-after-explor-more-button-3 {
  height: 30px;
}
body section .explore-more-section-wrapper .arrow-down-after-explor-more-button-wrapper .arrow-down-after-explor-more-button-4 {
  height: 30px;
}
body section .explore-more-section-wrapper .arrow-down-after-explor-more-button-wrapper .arrow-down-after-explor-more-button-5 {
  height: 30px;
}
body section .explore-more-section-wrapper .yellow-belt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdc92e;
  padding: 15px;
}
body section .explore-more-section-wrapper .yellow-belt .earth-svg {
  height: 120px;
}
body section .explore-more-section-wrapper .yellow-belt .arrow-down-good-for-nature {
  height: 30px;
  transition: 0.8s;
}
body section .explore-more-section-wrapper .yellow-belt .arrow-down-good-for-nature:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.8s;
}
body section .explore-more-section-wrapper .yellow-belt .good-for-nature {
  font-family: "Modak", cursive;
  font-size: 45px;
  font-weight: 100;
  color: #815f00;
}
body section .explore-more-section-wrapper .yellow-belt .arrow-down-low-calories {
  height: 30px;
  transition: 0.8s;
}
body section .explore-more-section-wrapper .yellow-belt .arrow-down-low-calories:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.8s;
}
body section .explore-more-section-wrapper .yellow-belt .heart-beat-svg {
  height: 100px;
}
body section .explore-more-section-wrapper .yellow-belt .low-calories {
  font-family: "Modak", cursive;
  font-size: 45px;
  font-weight: 100;
  color: #815f00;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper {
  position: relative;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .find-out-why-our-snacks-container-burger-1 {
  height: 130px;
  position: absolute;
  left: 10%;
  transform: rotate(-45deg);
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .find-out-why-our-snacks-title {
  text-align: center;
  font-family: "Modak", cursive;
  font-size: 55px;
  font-weight: 100;
  color: #ffffff;
  margin-top: 50px;
  line-height: 50px;
  text-shadow: -5px 5px 0 #01816d, 5px 5px 0 #01816d, 5px -5px 0 #01816d, -5px -5px 0 #01816d;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .most-rounded-circle-line-arrow-1 {
  height: 130px;
  position: absolute;
  left: 18%;
  bottom: 70%;
  animation: 0.5s ease 0s infinite alternate none running arrow-round;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .find-out-why-our-snacks-sub-title {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 30px;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .most-rounded-circle-line-arrow-2 {
  height: 130px;
  position: absolute;
  right: 20%;
  bottom: 74%;
  animation: arrow-round-2 0.5s infinite alternate;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .find-out-why-our-snacks-container-burger-2 {
  height: 130px;
  position: absolute;
  right: 10%;
  bottom: 74%;
  transform: rotate(35deg);
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box {
  display: flex;
  justify-content: space-between;
  background-color: #046151;
  height: 530px;
  margin: 65px 125px 0;
  padding: 50px 50px 25px;
  position: relative;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .scorpio-svg {
  height: 110px;
  position: absolute;
  left: 5%;
  transform: rotate(25deg);
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .meat-playbox-svg {
  height: 150px;
  position: absolute;
  left: 17%;
  bottom: 62%;
  transform: rotate(-45deg);
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .burger-playbox-svg {
  height: 120px;
  position: absolute;
  left: 35%;
  transform: rotate(25deg);
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .chicken-lolipop-svg {
  height: 120px;
  position: absolute;
  left: 5%;
  bottom: 50%;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .pizza-slice-svg {
  height: 130px;
  position: absolute;
  left: 28%;
  bottom: 52%;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .chips-cup {
  height: 500px;
  width: 470px;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .play-button {
  position: absolute;
  height: 200px;
  left: 40%;
  bottom: 30%;
  transition: 0.9s;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .play-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
@keyframes play-button {
  0% {
    transition: 0.9s;
  }
  50% {
    transition: 0.9s;
  }
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .why-sneek-title {
  display: flex;
  align-items: flex-end;
  font-size: 80px;
  font-family: Modak, cursive;
}
body section .explore-more-section-wrapper .find-out-why-our-snacks-container-wrapper .why-sneek-play-box .why-sneek-title h2 {
  font-weight: 100;
  line-height: 110px;
  color: #ffffff;
  text-shadow: -5px 5px 0 #01816d, 5px 5px 0 #01816d, 5px -5px 0 #01816d, -5px -5px 0 #01816d;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
  position: relative;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-section-scorpio-1 {
  position: absolute;
  height: 130px;
  bottom: 82%;
  left: 7%;
  transform: rotate(20deg);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .what-they-say-container-title {
  text-align: center;
  font-size: 55px;
  font-family: Modak, cursive;
  font-weight: 100;
  color: #ffffff;
  line-height: 50px;
  text-shadow: -5px 5px 0 #01816d, 5px 5px 0 #01816d, 5px -5px 0 #01816d, -5px -5px 0 #01816d;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-section-scorpio-2 {
  position: absolute;
  height: 130px;
  bottom: 80%;
  right: 7%;
  transform: rotate(-20deg);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .round-arrow-man-image-1 {
  position: absolute;
  height: 120px;
  left: 17%;
  bottom: 75%;
  transform: rotate(110deg);
  animation: arrow-round 0.5s infinite alternate;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .what-they-say-container-sub-title {
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .round-arrow-man-image-2 {
  position: absolute;
  height: 120px;
  right: 20%;
  bottom: 70%;
  transform: scale(-1) rotate(40deg);
  animation: arrow-round-2 0.5s infinite alternate;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .chicken-lolipop-man-image {
  height: 135px;
  position: absolute;
  left: 8%;
  bottom: 52%;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .ceo-name {
  margin-top: 50px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-size: 23px;
  opacity: 0.8;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .bonge-handsomeman-details {
  margin-top: 10px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  opacity: 0.8;
  font-size: 16px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .burger-man-image {
  height: 135px;
  position: absolute;
  right: 8%;
  bottom: 52%;
  transform: rotate(-20deg);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01816d;
  height: 250px;
  width: 700px;
  border-radius: 120px;
  margin-top: 230px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .meat-1-man-image {
  position: absolute;
  height: 145px;
  bottom: 41%;
  left: 21%;
  transform: rotate(-45deg);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .arrow-left-man-image {
  height: 80px;
  position: absolute;
  left: 10%;
  cursor: pointer;
  transition: 0.6s;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .arrow-left-man-image:hover {
  transition: 0.6s;
  transform: scale(1.3);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .man-image {
  position: relative;
  bottom: 40%;
  height: 450px;
  width: 350px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .arrow-right-man-image {
  height: 80px;
  position: absolute;
  right: 10%;
  cursor: pointer;
  transition: 0.6s;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .arrow-right-man-image:hover {
  transition: 0.6s;
  transform: scale(1.3);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .man-image-dark-mint-container .meat-2-man-image {
  position: absolute;
  height: 145px;
  bottom: 41%;
  right: 21%;
  transform: scale(-1) rotate(-45deg);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .arrow-down-man-image-wrapper {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .arrow-down-man-image-wrapper .arrow-down-man-image-1 {
  height: 30px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .arrow-down-man-image-wrapper .arrow-down-man-image-2 {
  height: 30px;
  transform: scale(1.3);
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .arrow-down-man-image-wrapper .arrow-down-man-image-3 {
  height: 30px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .arrow-down-man-image-wrapper .arrow-down-man-image-4 {
  height: 30px;
}
body section .explore-more-section-wrapper .what-they-say-container-wrapper .arrow-down-man-image-wrapper .arrow-down-man-image-5 {
  height: 30px;
}
body footer {
  bottom: 100px;
  position: relative;
  padding-top: 100px;
  border-radius: 120px 120px 0 0;
  background-color: #0daa90;
}
body footer .title-and-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body footer .title-and-button-wrapper .most-rounded-circle-line-footer-1 {
  height: 130px;
  position: absolute;
  left: 10%;
  bottom: 60%;
  animation: arrow-round 0.5s infinite alternate;
}
body footer .title-and-button-wrapper .footer-title {
  font-family: Modak, cursive;
  font-size: 55px;
  font-weight: 100;
  color: #ffffff;
  text-shadow: -5px 5px 0 #00836f, 5px 5px 0 #00836f, 5px -5px 0 #00836f, -5px -5px 0 #00836f;
  line-height: 55px;
}
body footer .title-and-button-wrapper .most-rounded-circle-line-footer-2 {
  height: 130px;
  position: absolute;
  right: 11%;
  bottom: 65%;
  animation: arrow-round-2 0.5s infinite alternate;
}
body footer .title-and-button-wrapper .footer-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .title-and-button-wrapper .footer-button-wrapper .footer-y-now-text {
  border-radius: 100px;
  border: 0;
  font-size: 90px;
  font-weight: 100;
  font-family: Modak, cusive;
  margin-top: 90px;
  color: #01816d;
  margin-right: 40px;
}
body footer .title-and-button-wrapper .footer-button-wrapper .try-now-button-footer {
  font-family: "Nunito", sans-serif;
  padding: 11px 20px;
  border-radius: 50px;
  margin-top: 60px;
  background-color: #fdc92e;
  padding: 5px 50px;
  border-radius: 100px;
  border: 0;
  color: #815f00;
  font-size: 90px;
  font-weight: 100;
  font-family: Modak, cusive;
  margin-top: 90px;
  cursor: pointer;
}
body footer .title-and-button-wrapper .footer-button-wrapper .footer-try-no-text {
  border-radius: 100px;
  border: 0;
  font-size: 90px;
  font-weight: 100;
  font-family: Modak, cusive;
  margin-top: 90px;
  color: #01816d;
  margin-left: 40px;
}
body footer .logo-footer {
  align-items: center;
  font-family: "Modak", cursive;
  font-size: 55px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 50px;
}
body footer .copy-right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 110px 20px 110px;
}
body footer .copy-right-section .condition-text-footer {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}
body footer .copy-right-section .riserved-text-footer {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}
body footer .copy-right-section .footer-ul ul li {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  list-style: none;
}
body footer .copy-right-section .footer-ul ul li:hover {
  color: aquamarine;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
