:root{
    --black: #1a1a20;
    --off-white: #fffae7;
    --white: #fffefc;
    --pink: #ffb3a7;
    --light-yellow: #ffefb6;
    --mint: #b3e0c5;
    --grey: #808080;
    --slight-grey: #e7e7e7;
    --purple: #dcb1fe;
    --dark-yellow: #e5c268;
}