:root{
    --light-grayish-yellow: #f4f1e7;
    --maximum-red: #cc4130;
    --rust: #a23c03;
    --eerie-black: #181614;
    --maximum-yellow-red: #ffbd5b;
    --indian-yellow: #e09c4b;
    --beaver: #a88870;
    --vermilion: #cd412e;
    --white: #ffffff;
    --black: #000000;
    --grey: grey;
    }